body { padding-top: 40px; padding-bottom: 40px; }
.dl-horizontal dt { width: 70px; }
.dl-horizontal dd { margin-left: 80px; }
.global-font { font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }
h4 { margin-bottom: 10px; margin-top: 10px; }